body{
    background-color: rgba(42, 52, 53, 0.829);
    font-family: "Lucida Console", "Courier New", monospace;

}

.placeholder{
    width: 144px;
    height: 144px;
}

.blank{
    width: 144px;
    height: 144px;
    background-color: rgb(255, 255, 255);
    padding: 5px;

}
.debug{
    color: rgb(255, 255, 255);
    background-color: royalblue;
    text-align: center;
    margin-top: 20px;
}

.base-block{
    background-color: rgba(25, 31, 32, 0.534);
    color: rgb(255, 255, 255);
    width: 300px;
    min-width: 200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
}
.invs-block{
    color: rgb(255, 255, 255);
    width: fit-content;
    height: auto;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
}
.input-field{
    background-color: rgba(31, 33, 34, 0.534);
    color: white;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-top: 10px;
    padding-left: 11px;
}
.big-input-field{
    background-color: rgba(31, 33, 34, 0.534);
    color: white;
    width: 90%;
    padding-bottom: 100px;
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-top: 10px;
    padding-left: 11px;
    padding-top: 11px;
}
.base-item{
    background-color: rgba(25, 31, 32, 0.534);
    color: rgb(255, 255, 255);
    width: fit-content;
    height: auto;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.base-button{
    background-color: rgba(25, 31, 32, 0.534);
    color: rgb(255, 255, 255);
    border: none;
    width: fit-content;
    height: auto;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 8px;

}
.base-button:active{
    background-color: rgba(255, 255, 255, 0.534);
    color: black;
}
.base-grid{
    display: flex;
}

.base-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(25, 31, 32, 0.534);
    width: auto;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.nav-bar{
    display: flex;
    background-color: rgba(25, 31, 32, 0.534);
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    min-width: 300px;
    width: fit-content;
    margin: auto;
}
.nav-link{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 3px;
}
.nav-link:hover{
    background-color: rgba(25, 31, 32, 0.534);
    border-radius: 5px;
    padding: 3px;
}
.nav-link:active{
    background-color: rgba(255, 255, 255, 0.534);
    color: black;
    border-radius: 5px;
    padding: 3px;
}
footer{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 750px) {
    .base-grid{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 400px){
    .nav-bar{
        display: flex;
        flex-direction: column;
    }
}